$white: #ffffff;
$black: #000000;
// $dark-blue: #004086;
// $strike: #bee1f7;
$primary-blue: #007bff;
// $primary-grey: #5c5c5c;
$border-color:#ccc;
// $offer-color : #333333;
$star : #fec522;
$alert: #ff4c38;
$primary-orange: #fc7c04;